<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Vue Blog</title>
    
</head>
<style>
    .console{
        background-color: lightgray;
        border: solid 1px red;
        padding: 10px;
    }
</style>
<body>
    <div id="app">
        <h1>{{ titulo }}</h1>
        <input type="text" v-model="operador1"/>+
        <input type="text" v-model="operador2"/>={{ resultadoSuma }}
        <br>
        <input type="text" v-model="operador3"/>-
        <input type="text" v-model="operador4"/>={{ resultadoResta }}
        
    </div>

    <ul id="myULContainer" class="console"></ul>

    <script type="application/javascript" src="https://cdn.rawgit.com/Alorel/console-log-html/master/console-log-html.min.js"></script>

    <script src="https://unpkg.com/vue"></script>
    <script src="datos.js"></script>
    <script>
            ConsoleLogHTML.connect(document.getElementById("myULContainer"), ConsoleLogHTML.DEFAULTS, true, true, false); // Redirect log messages

    </script>
</body>
</html>